@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #5b3774;
    color: #dadce7;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }

  #app {
    background: #fff;
    border-radius: 0.4rem;
    padding: 1.5rem 0rem;
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.2);
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
  }

  form input {
    border: none;
    font-size: 1.3rem;
    font-weight: 100;
    color: #000;
    width: 180px;
    outline: none;
    padding: 0;
  }

  form input::placeholder {
    color: #969696;
    font-size: 1rem;
  }

  form button {
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    border-radius: 0.4rem;
    border: 0.15rem solid #671b9a;
    width: max-content;
    font-size: 1.4rem;
    background-color: #ffffff; 
    font-weight: 100;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
  }

  form button:hover {
      background-color: #671b9a;
      color: #fff;
  }

  main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
    transition: all 1s;
  }

  p:nth-child(1) {
    padding-top: 1.3rem;
  }

  p {
    color: #4091dd;
    font-size: 1.1rem;
    margin: 0.6rem 0;
  }